.Rproj.user
.Rhistory
.RData
.Ruserdata

data/crop_areas/*
data/data_processing/*
data/processed_data/*

# ignore time-series files
data/short-term_change/countries_shocks_time-series_1985-2015_spans.csv
data/short-term_change/countries_shocks_time-series_1985-2015.csv
data/short-term_change/global_shocks_time-series_1985-2015_spans.csv
data/short-term_change/global_shocks_time-series_1985-2015.csv
data/short-term_change/rta_shocks_time-series_1985-2015_spans.csv
data/short-term_change/rta_shocks_time-series_1985-2015.csv
data/long-term_change/countries_time-series_1985-2015_spans.csv
data/long-term_change/countries_time-series_1985-2015.csv
data/long-term_change/global_time-series_1985-2015_spans.csv
data/long-term_change/global_time-series_1985-2015.csv
data/long-term_change/rta_time-series_1985-2015_2070-2099.csv
