.Rproj.user
.Rhistory
.RData
.Ruserdata

data/crop_areas/*
data/data_processing/*
data/ecological_data/*
data/short-term_change/*time-series_1985-2015_spans.csv
data/short-term_change/*time-series_2010-2019.csv
data/short-term_change/*time-series_1985-2015.csv